<center>
    <a class="github-button" href="https://github.com/walkccc/CLRS/archive/master.zip" data-icon="octicon-cloud-download">Download</a>
    <a class="github-button" href="https://github.com/walkccc/CLRS" data-icon="octicon-star" data-show-count="true">Star</a>
    <a class="github-button" href="https://github.com/walkccc/CLRS/fork" data-icon="octicon-repo-forked" data-show-count="true">Fork</a>
    <p>Built by <a href="https://github.com/walkccc">Jay Chen</a> in Feb, 2018</p>
</center>
<script async defer src="https://buttons.github.io/buttons.js"></script>