<head>
<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<base href="https://walkccc.github.io/CLRS/">
<meta name="description" content="<%= page.description || site.description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="<%= site.basePath %>/assets/css/style.css"> -->
<link rel="stylesheet" href="https://walkccc.github.io/CLRS/assets/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha256-uXNHy6FK52Pb83SmU45mVAg7YECmr9Lwwu1zOz31j5c=" crossorigin="anonymous" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CLRS</title>
</head>