<!DOCTYPE html>
<html lang="en-US">

<%- include('../partials/head') %>

<body>
<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h2>CLRS</h2>
    </div>

    <ul class="list-unstyled components">
        <p>I Foundations</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 The Role of Algorithms in Computing</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="CLRS/Chap01/1.1.html">1.1 Algorithms</a></li>
                <li><a href="CLRS/Chap01/1.2.html">1.2 Algorithms as a technology</a></li>
                <li><a href="CLRS/Chap01/1-0">Chap 1 Problems</a></li>
            </ul>
        </li>

        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 The Role of Algorithms in Computing</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="CLRS/Chap01/1.1.html">1.1 Algorithms</a></li>
                <li><a href="CLRS/Chap01/1.2.html">1.2 Algorithms as a technology</a></li>
                <li><a href="CLRS/Chap01/1-0">Chap 1 Problems</a></li>
            </ul>
        </li>

        <p>I Foundations</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 The Role of Algorithms in Computing</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="CLRS/Chap01/1.1.html">1.1 Algorithms</a></li>
                <li><a href="CLRS/Chap01/1.2.html">1.2 Algorithms as a technology</a></li>
                <li><a href="CLRS/Chap01/1-0">Chap 1 Problems</a></li>
            </ul>
        </li>

        <p>I Foundations</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 The Role of Algorithms in Computing</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="CLRS/Chap01/1.1.html">1.1 Algorithms</a></li>
                <li><a href="CLRS/Chap01/1.2.html">1.2 Algorithms as a technology</a></li>
                <li><a href="CLRS/Chap01/1-0">Chap 1 Problems</a></li>
            </ul>
        </li>

        <p>I Foundations</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 The Role of Algorithms in Computing</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="CLRS/Chap01/1.1.html">1.1 Algorithms</a></li>
                <li><a href="CLRS/Chap01/1.2.html">1.2 Algorithms as a technology</a></li>
                <li><a href="CLRS/Chap01/1-0">Chap 1 Problems</a></li>
            </ul>
        </li>
    </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>T</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <%- body %>
    </div>
</div>

<%- include('../partials/foot') %>

</body>
</html>
