<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
</head>
<body>
<section class="page-header">
  <a href="<%= site.basePath %>/" class="btn">Home</a>
</section>

<section class="main-content">
  <%- body %>
</section>
</body>
</html>
